.home-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  margin: 0 2px;
  padding: 0.5em;
  border: 2px solid white;
  background-color: royalblue;
}

.home-button__svg {
  fill: white;
  width: 48px;
  height: 48px;
}
