.home-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  padding: 0.5em;
  background-color: royalblue;
}

.home-button__svg {
  fill: white;
  width: 48px;
  height: 48px;
}
